{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ],
    "@typescript-eslint/ban-ts-ignore": "off",
    "indent": ["error", 4],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "no-shadow": "off",
    "max-len": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "never"
      }
    ],
    "no-return-await": "error",
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-use-before-define": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "no-else-return": "off",
    "global-require": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": [
      "warn",
      {
        "ts-ignore": "allow-with-description"
      }
    ],
    "no-plusplus": "off",
    "import/no-extraneous-dependencies": "warn",
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "warn",
    "no-continue": "off",
    "guard-for-in": "warn",
    "camelcase": "off",
    "no-underscore-dangle": "off"
  }
}
